<!DOCTYPE HTML>
<html>
	<head>
		<title>UGA Nvite</title>
		<link rel="stylesheet" type="text/css" href="static/stylesheet.css">
	</head>
	<body>
		<div class="menu-bar">
			<div><div class="center-logo">UGA Nvite</div></div>
			<div><div class="right-menu">Sign Up</div>
			<div class="right-menu">Login</div></div>
		</div>
		<div class="welcome">
			<h1>Welcome to UGA Nvite</h1>
			<h3>Sign up or log in to connect with new friends.</h3>
		</div>
		<footer>
			<p>This website made by Francis Mazzolini, Alex Kimbrell, and Camden Rogers for CSCI 4300.<p>
		</footer>
	</body>
</html>		
