<!DOCTYPE HTML>
<html>
        <head>
                <title>UGA Nvite</title>
                <link rel="stylesheet" type="text/css" href="../stylesheet.css">
        </head>
        <body>
                <div class="menu-bar">
                        <div>Event List</div>
                        <div class="center-logo">UGA Nvite</div>
                        <div>Logout</div>
                </div>
		<div class="events-container">
			<h3>Your Registered Events</h3>
		</div>
	</body>
</html>
